@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(30deg, #000747, #0630eb);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main {
    width: 90%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

main > h1 {   
    text-align: center;
    padding: 15px;
}

main p {
    padding: 20px;
    text-align: center;
}

.gerar {
    width: 90%;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: #000747;
    cursor: pointer;
    padding: 10px;
    margin: 20px 0px;
    transition: all 0.3s ease;
}

.gerar:hover {
    background-color: #0630eb;
}